<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".room.view.RoomActivity"
            android:exported="true" />
        <activity
            android:name=".retrofit.view.PlantActivity"
            android:exported="true" />
        <activity
            android:name=".retrofit.view.CorutineActivity2"
            android:exported="true" />
        <activity
            android:name=".retrofit.view.CourtinesActivity"
            android:exported="true" />
        <activity
            android:name=".retrofit.view.RetrofitActivity"
            android:exported="true" />
        <activity
            android:name=".liveData.view.MainActivity"
            android:exported="true" />
        <activity
            android:name=".liveData.view.MapActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".liveData.view.FragmentActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".liveData.view.LiveDataActivity"
            android:exported="true"
            android:label="@string/title_activity_live_data"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".viewModel.ViewModelFactoryActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".viewModel.ViewModelMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>